<header class="header">
    <div class="toggle-btns">
        <a id="toggle-sidebar" href="#">
            <i class="icon-menu1"></i>
        </a>
        <a id="pin-sidebar" href="#">
            <i class="icon-menu1"></i>
        </a>
    </div>
    <div class="header-items">
        <!-- Custom search end -->
        <!-- Header actions start -->
        <ul class="header-actions">
            <li class="dropdown">
            <li class="dropdown">
                <a style="padding-top:1rem;padding-bottom:1rem;" id="userSettings" class="user-settings" data-bs-toggle="dropdown" aria-haspopup="true">
                    <span class=""> Hello, @User.Identity?.Name</span>
                </a>
            </li>
        </ul>
        <!-- Header actions end -->
    </div>
</header>