﻿<nav id="sidebar" class="sidebar-wrapper">

	<!-- Sidebar brand start  -->
	<div class="w-100 d-flex">
		<a class="navbar-brand mx-auto flex-fill text-center" asp-controller="home" asp-action="index" style="margin-top:20px;">
			<img src="~/img/LOGO.png" width="auto" height="24" alt="Website Logo" class="d-block mx-auto">
		</a>
	</div>
	<hr style="margin-top:1rem;margin-bottom:0;"> <!-- Sidebar brand end  -->
	<!-- Sidebar content start -->
	<div class="sidebar-content">

		<!-- sidebar menu start -->
		<div class="sidebar-menu">
			<ul>
				<li class="header-menu">USER</li>
				<li>
					<a href="#">
						<a asp-controller="Home" asp-action="Index">
							<i class="icon-devices_other"></i>
							<span class="menu-text">Dashboard</span>
						</a>
					</a>
				</li>
				<li>
					<a href="#">
						<a asp-controller="AssetRequests" asp-action="Index">
							<i class="icon-documents"></i>
							<span class="menu-text">Request Replacement</span>
						</a>
					</a>
				</li>

				<li class="header-menu">ADMIN</li>
				<li class="sidebar-dropdown">
					<a href="#">
						<i class="icon-file-text"></i>
						<span class="menu-text">Inputs</span>
					</a>
					<div class="sidebar-submenu">
						<ul>

							<li>
								<a asp-controller="NewAssets" asp-action="Index">New Asset</a>
							</li>
							<li>
								<a asp-controller="NewHires" asp-action="Index">New Hire</a>
							</li>
							<li>
								<a asp-controller="Scraps" asp-action="Index">Scrap</a>
							</li>
						</ul>
					</div>
				</li>

				<li class="sidebar-dropdown">
					<a href="#">
						<i class="icon-devices_other"></i>
						<span class="menu-text">Dashboards</span>
					</a>
					<div class="sidebar-submenu">
						<ul>
							<li>
								<a href="index.html">Intern Dashboard</a>
							</li>
							<li>
								<a href="sales-dashboard.html">Manager Dashboard</a>
							</li>
							<li>
						</ul>
					</div>
				</li>
				@* <li>
				<a href="chat.html">
				<i class="icon-message-circle"></i>
				<span class="menu-text">Contact Person</span>
				</a>
				</li> *@
			</ul>
		</div>
		<!-- sidebar menu end -->

	</div>
	<!-- Sidebar content end -->

</nav>